* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  maxwidth
  font-size: 16px;
  padding: 1em 1em;
}

header {
  width: 100%;
  h1 {
    margin: 10px;
    // font-size: 16px;
  }
  // font-size: 1rem;
}
.tv__frame {
  margin: 10px;
  border: 4px solid #000;
  border-radius: 0.2em;
  height: calc(2160px / 10);
  width: calc(3840px / 10);
}

.tv__inside {
  background-color: darkgrey;
  
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

.remote {
  padding: 1em 0 1em 5px;
  button {
    width: 90px;
    font-weight: 600;
    background-color: pink;
  }
}

.tv__inputs, .tv__controls {
  margin: 10px;
}

.apps__row1, .apps__row2 {
  margin: 10px;
  button {
    width: 90px;
    font-weight: 600;
    background-color: yellow;
  }
}