:root {
  --btn-clr__inactive: #111;
  --btn-clr-active: #cdcdcd;
  --btn-txt-clr__inactive: #FFF;
  --btn-txt-clr__active: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;  
}

body {
  width: 100vw;
  display: block;
  font-size: 16px;
  padding: 0;
  
}

header {
  width: 100%;
  h1 {
    margin: 5px;  
  }  
}

.tv__frame {
  margin: 5px;
  border: 4px solid #000;
  border-radius: 0.2em;
  height: calc(2160px / 10);
  width: calc(3840px / 10);
}

.tv__inside {
  background-color: darkgrey;
  
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
  align-items: center;
  // font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  font-style: italic;
}

button {
  width: 85px;
  padding: 5px;
  border-radius: 1em;
  // font-weight: 600;
  background-color: var(--btn-clr__inactive);
  color: var(--btn-txt-clr__inactive);
}

.remote {  
  margin: 0 0 0 5px;  
}

.tv__controls, .apps__row1, .apps__row2, .tv__inputs {
  // margin: 10px;
  padding: 0.5em 0 0.5em 0;
  

}
