body {
  font-family: sans-serif;
  padding: 1em 3em;
}

.tv__frame {
    display: flex;
    justify-content: center;
    border: 3px solid #000;
    border-radius: 0.2em;
    height: 900px;
    width: 1600px;    
    align-items: center;
    
}