body {
  font-family: sans-serif;
  padding: 1em 3em;
}

.frame {

}

.tv__inside {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;

}