body {
  font-family: sans-serif;
  padding: 1em 3em;
}

.frame {
    border: 13px solid #000;
    border-radius: 0.2em;
    height: 900px;
    width: 1600px;    
}

.tv__inside {
    background-color: darkgrey;
    display: flex;
    justify-content: center;
    height
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;

}